#data_container{    padding: 10px;
    border: 1px solid #aaa;
   
    }
   .input-group .input-group-addon {
  
    background: #3c8dbc !important;
    color: #fff !important;
}
.form-control {
  
    height: 28px !important;
     border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;

    font-size: 12px !important;
}
.input-group-addon {
  
    font-size: 12px !important;
    font-weight: 200 !important;
}
.table-bordered {
    border: 1px solid #aaa !important;
}
table.dataTable {
 
    font-size: 13px !important;
}
.input-group .input-group-addon {

    border-color: #3c8dbc !important;
    min-width: 130px;
}